# env
percept_env/


# data/stubs
sample-data/

# building
.catkin_tools/
**/build/
**/devel/
**/logs/
**/install/
**/log/

# caches
**/__pycache__/
**/.vscode/
**/.cache/


# assets
src/percept_core/assets/benchmark_scenes/generated_scenario.yaml