# env
percept_env/


# data/stubs
sample-data/
eval/results/
**/.old

# building
.catkin_tools/
**/build/
**/devel/
**/logs/
**/install/
**/log/

# caches
**/__pycache__/
**/.vscode/
**/.cache/


**/traces/
